<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Running Workout Tracker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
    </head>
    <body>
        <div>
            <nav id="views">
                <button id="day">Daily View</button>
                <button id="weekly">Weekly View</button>
                <button id ="monthly">Monthly View</button>
            </nav>
        </div>
        <div id="interfaceContainer">
            <div id="userContainer">
                <script>
                    var t = new URLSearchParams(window.location.search).get('inputData');
                    var tLocation = t.indexOf(' ');
                    var tText = "Welcome back, " + t.substring(0, tLocation);
                    var p = document.createElement("p");
                    p.setAttribute("id", "userNameText");
                    p.textContent = tText;
                    document.getElementById("userContainer").appendChild(p);
                </script>
                <div id="toggles">
                    <ul>
                        <li>Homework</li>
                        <li>Quizzes</li>
                        <li>Exams</li>
                        <li>Projects</li>
                        <li>Labs</li>
                    </ul>
                </div>
            </div>
            <div id="tasksLayout">

            </div>
        </div>
    </body>
