<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport", content="width=device-width, initial-scale=1.0">
        <title>Running Workout Tracker</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/user.css') }}">
    </head>
    <body>
        <div>
            <nav id="views">
                <button id="day">Daily View</button>
                <button id="weekly">Weekly View</button>
                <button id ="monthly">Monthly View</button>
            </nav>
        </div>
        <div id="interfaceContainer">
            <div id="userContainer">
                <script>
                    var dataList = JSON.parse('{{ input_data|tojson|safe }}');
                    var txt = "Welcome back, " + dataList[0];
                    var p = document.createElement("p");
                    p.setAttribute("id", "userNameText");
                    p.textContent = txt;
                    document.getElementById("userContainer").appendChild(p);
                </script>
                <div id="toggles">
                    <ul id="assignmentTypes">
                        <li>Homework</li>
                        <li>Quizzes</li>
                        <li>Exams</li>
                        <li>Projects</li>
                        <li>Labs</li>
                    </ul>
                </div>
                <div id="toggles">
                    <ul id="classes">
                        <script>
                            var dataList = JSON.parse('{{ input_data|tojson|safe }}');
                            for( let i = 1; i < dataList.length; i++ ){
                               var l = document.createElement("li");
                               l.textContent = dataList[i];
                               document.getElementById("classes").appendChild(l); 
                            }
                        </script>
                    </ul>
                </div>
            </div>
            <div id="tasksLayout">

            </div>
        </div>
    </body>
