body{
    background-color: #87CEEB;
    margin: 0;
}
#interfaceContainer{
    display: flex;
    width: 90%;
    margin: 20px auto;
    height: 85vh;
    border: 2px solid #007FFF;
    border-radius: 20px;
}
#userContainer{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    text-align: center;
    border-right: 2px solid #007FFF;
}
#userNameText{
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-size: 20px;
    color: white;
}
#toggles{
    height: 100%;
    text-align: center;
    border-top: 2px solid #007FFF;
    width: 90%;
    margin: 0 auto;
    padding-top: 75px;
}
#views{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 20px;
}
button{
    border: none;
    background: none;
    font-family: Tahoma, "Trecuchet MS", sans-serif;
    font-size: 15px;
    color: white;
}
button:hover{
    font-size: 15px;
    color: #007FFF;
    text-decoration: underline;
}
li{
    font-family: Tahoma, "Trebuchet MS", sans-serif;
    font-size: 15px;
    color: white;
}